<!-- <h1> Hello angular {{title}}</h1>
<h1>{{title=='FirstProject'}}</h1>

<h1 class="{{title}}"> angular Project </h1>
<app-sign-in></app-sign-in>
<button (click)="getName('kajal','yadav')">Click me</button>
<button (click)="getData('Hello')">Click me</button>
<br><br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="keyup event"/>
<br><br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="keydown event"/>
<br><br>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="blur event"/>
<br><br>
<input type="text" #box3 (blur)="getData(box3.value)" placeholder="blur event"/>

<h1 (mouseover)="getData('over')">Hello World !!!</h1> 

<h1 (mouseleave)="getData('leave')">Hello World !!!</h1>  -->
<router-outlet></router-outlet>